{% extends "base.html" %}

{% block content %}
<form action="." method="POST" class="simple-form">
    {% csrf_token %}

    {% spaceless %}
    {{ form.as_p }}
    {% endspaceless %}

    <button name="save" value="1">Save</button>
    <button name="save_and_create" value="1"><i class="fa fa-plus-square"></i></button>
    <button name="delete" value="1" data-widget="confirm-button" data-confirm-message="Are you sure you want to delete {{ form.instance.title }}?">Delete  <i class="fa fa-trash"></i></button>
    <a class="button" href="../">Back</a>
</form>
{% endblock content %}