{% extends "base.html" %}
{% load humanize %}
{% load jsonify from helpers %}
{% block content %}

<div class="overview">
    <label for="switch-year">Overview for year: </label>
    <select id="switch-year" data-widget="url-selector">
        {% for year in years %}
            <option {% if year == dashboard.year %}selected{% endif %} value="{% url "index" %}?year={{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <select id="switch-month" data-widget="anchor-selector">
        {% for month in dashboard.months %}
            <option value="#{{ month.name|lower }}">{{ month.name }}</option>
        {% endfor %}
    </select>

    <ul class="months">
    {% for month in dashboard.months %}
        <li id="{{ month.name|lower }}">
            <h2>{{ month.name }}</h2>
            <ol class="group">
                {% for category in month.expense_categories %}
                    <li><span class="title">{{ category.title }}</span> {{ category.total|floatformat:2|intcomma }}</li>
                {% endfor %}
                <li class="total"><span class="title">Total</span> {{ month.totals.expenses|floatformat:2|intcomma }}</li>
            </ol>
            <ol class="group">
                {% for category in month.income_categories %}
                    <li><span class="title">{{ category.title }}</span> {{ category.total|floatformat:2|intcomma }}</li>
                {% endfor %}
                <li class="total"><span class="title">Total</span> {{ month.totals.income|floatformat:2|intcomma }}</li>
            </ol>
            <ul class="group shade">
                <li class="total"><span class="title">Net</span>{{ month.totals.net|floatformat:2|intcomma }}</b></li>
                <li class="total"><span class="title">Percent</span> 
                    {% with month.totals.percent as num %}
                    <b {% if num %}
                        class="{% if num < 0 %}danger
                                {% elif num < 15 %}warning
                                {% elif num >= 20 %}good
                            {% endif %}"
                    {% endif %}>
                    {{ month.totals.percent }}{% if num %}%{% endif %}</b>
                {% endwith %}
                </li>
            </ul>
        </li>            
    {% endfor %}
    </ul>

    <canvas id="myChart" width="400" height="400"></canvas>


    <div class="year-overview">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Year To Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Income</th>
                    <td>{{ dashboard.ytd.income|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <th>Expenses</th>
                    <td>{{ dashboard.ytd.expenses|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <th>Net</th>
                    <td>{{ dashboard.ytd.net|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <th>Percent</th>
                    {% if dashboard.ytd.percent %}
                    <td>{{ dashboard.ytd.percent }}%</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Projected</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Income</th>
                    <td>{{ dashboard.projected.income|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <th>Expenses</th>
                    <td>{{ dashboard.projected.expenses|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <th>Net</th>
                    {% with dashboard.projected.net as num %}
                        <td class="{% if num < 5000 %}danger
                                    {% elif num < 10000 %}warning
                                    {% elif num > 20000 %}good
                                {% endif %}
                        ">{{ num|floatformat:2|intcomma }}</td>
                    {% endwith %}
                </tr>
                <tr>
                    <th>Percent</th>
                    {% with dashboard.projected.percent as num %}
                    {% if num %}
                        <td class="{% if num < 5 %}danger
                                    {% elif num < 10 %}warning
                                    {% elif num > 15 %}good
                                {% endif %}
                        ">{{ num }}%</td>
                    {% endif %}
                    {% endwith %}
                </tr>
            </tbody>
        </table>

    </div>    
</div>


{% endblock content %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var dashboard = {{ dashboard.chart_json_data|jsonify }}

var ctx = document.getElementById("myChart");
var expenseColor = "darkorange";
var incomeColor = "black";
var netColor = "navy";
var growthColor = "darkgreen";

var growth = [];
for (var i = 0; i < dashboard.net.length; i++) {
    var n = dashboard.net[i];
    if (i > 0) {
        n = growth[i - 1] + n;
    }
    growth.push(n);
};

var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July",
        "August", "October", "November", "December"],
    datasets: [
        {
            label: "Expenses",
            fill: false,
            animateScale: false,
            lineTension: 0.1,
            backgroundColor: expenseColor,
            borderColor: expenseColor,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: expenseColor,
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: dashboard.percent,
        },
        {
            label: "Income",
            fill: false,
            animateScale: false,
            lineTension: 0.1,
            backgroundColor: incomeColor,
            borderColor: incomeColor,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: incomeColor,
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: incomeColor,
            pointHoverBorderColor: incomeColor,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: dashboard.income,
        },
        {
            label: "Net",
            fill: false,
            animateScale: false,
            lineTension: 0.1,
            backgroundColor: growthColor,
            borderColor: growthColor,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: growthColor,
            pointHoverBorderColor: growthColor,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: dashboard.net,
        },
        {
            label: "Saving",
            fill: false,
            animateScale: false,
            lineTension: 0.1,
            backgroundColor: netColor,
            borderColor: netColor,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: netColor,
            pointHoverBorderColor: netColor,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: growth,
        }
    ]
};

var myLineChart = Chart.Line(ctx, {
    data: data,
    options: {
        responsive: false
    },
});
</script>
{% endblock scripts %}