{% load static from staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% if title %}{{ title }} | {% endif %} Cheapskate{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" user-scaleable="no">

        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,600' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="{% static "img/icon.png" %}">
        <link rel="apple-touch-icon" href="{% static "img/icon.png" %}">

        <link rel="stylesheet" type="text/css" href="{% static "css/site.min.css" %}">
        
    </head>
    <body>
        <header class="site-header">
            <h1>Cheapskate</h1>
        </header>
        {% if title %}
            <h2 class="page-title">{{ title }}</h2>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock content %}        

        <ul class="site-nav">
            <li>
                <a href="{% url "index" %}">
                    {% include "icons/bar-chart.svg" %}
                    <span class="label"> Overview</span>
                </a>
            </li>
            <li>
                <a href="{% url "charge_list" %}">
                    {% include "icons/credit-card.svg" %}
                    <span class="label">Charges</span>
                </a>
            </li>
            <li>
                <a href="{% url "withdrawal_list" %}">
                    {% include "icons/arrow-circle-o-up.svg" %}
                    <span class="label">Withdrawals</span>
                </a>
            </li>
            <li>
                <a href="{% url "deposit_list" %}">
                    {% include "icons/arrow-circle-o-down.svg" %}
                    <span class="label">Deposits</span>
                </a>
            </li>
            <li>
                <a href="{% url "ccbill_list" %}">
                    {% include "icons/envelope-o.svg" %}
                    <span class="label">CC Bills</a>
            </li>
            <li>
                <a href="{% url "admin:index" %}">
                    {% include "icons/cog.svg" %}
                    <span class="label">Admin</span>
                </a>
            </li>
        </ul>

        {% block scripts %}
            {% if debug %}
                <script type="text/javascript" src="{% static "js/app.js" %}"></script>
            {% else %}
                <script type="text/javascript" src="{% static "js/app.min.js" %}"></script>
            {% endif %}
        {% endblock scripts %}

    </body>
</html>
