{% extends "base.html" %}

{% block content %}
<form action="." method="POST" class="simple-form" enctype="multipart/form-data">
    {% csrf_token %}

    {% spaceless %}
    {{ form.as_p }}
    {% endspaceless %}

    <button name="save" value="1">Save</button>
    <button name="save_and_create" value="1">{% include "icons/plus-square.svg" %}</button>
    <button name="delete" value="1" data-widget="confirm-button" data-confirm-message="Are you sure you want to delete {{ form.instance.title }}?">Delete  {% include "icons/trash.svg" %}</button>
    <a class="button" href="../">Back</a>
</form>
{% endblock content %}