{% extends "base.html" %}

{% block content %}
<div class="list-view">
    <nav>
        <a class="button" href="{{ create_url }}">New</a>
        {% if filter_by %}
            <button data-widget="toggler" data-target="#filters">Filter</button>
        {% endif %}
        <form class="inline-form" action="." method="GET">
        <input type="text" name="search" placeholder="Search" {% if search_term %}value="{{ search_term }}"{% endif %} />
        <button>{% include "icons/search.svg" %}</button>

        {% if filter_by %}
        {% include "filters.html" %}
        {% endif %}

        </form>
    </nav>
    {# <input type="file" accept="image/*"> #}
    <table class="object-list">
        {% for obj in object_list %}
            {% include row_template with obj=obj %}
        {% endfor %}
    </table>

    <div class="pagination">
        Page {{ page.number }} of {{ page.paginator.num_pages }}

        {% if pagination_urls.previous %}
        <a class="button" href="{{ pagination_urls.previous }}">Previous</a>
        {% endif %}

        {% if pagination_urls.next %}
        <a class="button" href="{{ pagination_urls.next }}">Next</a>
        {% endif %}
    </div>
</div>

<form action="." method="POST" id="listchangeform">
    {% csrf_token %}
</form>
{% endblock content %}
